@model IEnumerable<ExamRegistration.Models.SubjectGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectGroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectGroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubjectGroupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubjectGroupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubjectGroupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
